/.phpunit.cache
/node_modules
/coverage
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/installed
/storage/pail
/storage/backups
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/jobazmoon-deploy.zip
*.zip
/dist/
/.tools/
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.vagrant
/.scribe
bootstrap/compiled.php
/_tmp_*.php
/dist-*.txt
/_check_*.php
